# global ignores
*.pyc
*.pyo
*.pyd
*.idea

# backend ignores
__pycache__
venv
.pytest_cache
.mypy_cache
.vscode

# frontend ignores
.next
node_modules
.env.local
.DS_Store
*.tsbuildinfo
next-env.d.ts
.DS_Store


# general
*.log